body{
	background-color:black;
}

.fonteCentral {
	-webkit-text-fill-color: #002c00;
	color: #002c00;;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: green;
	/*font-family: cursive;*/
	/*font-family: "Lucida Console", Courier, monospace;*/
	font-family: myFirstFont;
	font-size: 80px;	
	width:100%;
	margin-top: 15%;
	text-align: center;	
	text-transform: uppercase;

	animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@font-face {
    font-family: myFirstFont;
	src: url(elasis_rg.ttf);
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}